body, html{
  background: #222;
  color: #f4f4f4;
}

#loader {
    border: 8px solid #2d2d2d;
    border-top: 8px solid #a8a9ae;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 1vh;
}

/* Pagination */
.pagination a {
  color: #f1f1f1;
}

.pagination a.active {
  background-color: #ddd;
  color: #888;
}

.pagination a:hover:not(.active) {
  background-color: #888;
  color: #f2f2f2;
}
