body, html{
  background: #f4f4f4;
  color: #222;
}

#loader {
    border: 8px solid #a8a9ae;
    border-top: 8px solid #2d2d2d;
}

.back{
  stroke: #111;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1vh;
}
