body, html{
  background: #222;
  color: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding:0;
}

h1,h2 {
  font-weight: 300;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}

h3{
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 2vh;
  margin-top: 4.15vh;
}

li{
  margin-bottom: 2vh;
  opacity: 0.6;
}

li:hover{
  opacity: 1;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 100vh - 0.1em;
    width: 60%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 8px solid #2d2d2d;
  border-radius: 50%;
  border-top: 8px solid #a8a9ae;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Анимация для "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { left:-100px; opacity:0 }
  to { left:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/* Анимация для оглавления */
.animate-left {
  position: relative;
  -webkit-animation-name: animateleft;
  animation-duration: 1s
}

@-webkit-keyframes animateleft {
  from { left:-100px; opacity:0 }
  to { left:0px; opacity:1 }
}

@keyframes animateleft {
  from{ left:-100px; opacity:0 }
  to{ left:0; opacity:1 }
}
#head {
  display: none;
  text-align: center;
}

#list {
  text-align: left;
}

/* Анимация для стрелки */
.animate-right {
  position: relative;
  -webkit-animation-name: animateleft;
  animation-duration: 1s
}

@-webkit-keyframes animateleft {
  from { left:50px; opacity:0 }
  to { left:0px; opacity:1 }
}

@keyframes animateleft {
  from{ left:50px; opacity:0 }
  to{ left:0; opacity:1 }
}


/* Прокрутка */
/* width */
::-webkit-scrollbar {
    width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Стрелка "назад" */
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 1vh;
}

.arrow {
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 90px;
}

.left{
  top: 3%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}





.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #444;
}

p{
  line-height: 1.4em;
}
